build
config/.automations.yaml.swp
config/.storage/onboarding
config/home-assistant_v2.db-wal
config/.storage/auth_provider.homeassistant
config/.storage/auth.session
config/.storage/core.analytics
config/.storage/core.device_registry
config/.storage/core.uuid
config/.storage/core.area_registry
config/.storage/auth
config/.storage/core.config
config/.storage/assist_pipeline.pipelines
config/.storage/homeassistant.exposed_entities
config/.storage/bluetooth.passive_update_processor
config/.storage/core.restore_state
config/.storage/person
config/.storage/http.auth
config/.storage/input_number
config/home-assistant.log.fault
config/.storage/core.config_entries
config/secrets.yaml
config/home-assistant_v2.db-shm
config/.storage/lovelace_dashboards
config/.storage/http
config/scripts.yaml
config/home-assistant.log.1
config/.storage/core.entity_registry
config/.storage/trace.saved_traces
config/scenes.yaml
config/home-assistant.log
config/home-assistant_v2.db
config/.storage/repairs.issue_registry
config/.storage/map
config/.storage/lovelace.map
config/.HA_VERSION
config/blueprints/automation/homeassistant/motion_light.yaml
config/blueprints/script/homeassistant/confirmable_notification.yaml
config/blueprints/automation/homeassistant/notify_leaving_zone.yaml
config/.storage/lovelace
config/.storage/lovelace.dashboard_uplift
